
//=============================
// Fonts
//=============================
$primary-font: 'Abel', sans-serif;


//=============================
// Colors
//=============================

$primary: #00fff0;
$secondary: #223047;
$subtitle: #233148;

$background: #f5f6fa;

$text: rgb(189, 189, 189);

//=============================
// Media Queries
//=============================

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;